<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HuskOS v0.1a</title>
    <link rel="stylesheet" href="/css/global.css">
    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.162.0/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@0.162.0/examples/jsm/"
        }
      }
    </script>

    <!-- Link to your Javascript file as a type="module", this will execute the file after the HTML is loaded -->
<!--    <script type="module" src="/js/main.js"></script>-->
</head>
    

<body>
    <!--Logo and NavBar-->
    <header>
        <nav>
             <li>
                <a class="btn start" href="/index.html" title="Home">
                    <img class="logo" src="/images/logo-site.png">
                    START
                </a>
            </li>
            <li>
                <a class="btn" href="/projects/index.html" title="Projects">
                    <img class="logo" src="/images/icon-folder.png">
                    <p>Pictures</p>
                </a>
            </li>
            <li> 
                <a class="btn" href="#" title="Page Info">
                    <img class="logo" src="/images/icon-info.png">
                    <p>System Info</p>
                </a>
            </li>
        </nav>
        <aside class="gutter">
            <clock id="clock">00:00 AM</clock>
            <script src="/js/clock.js"></script>
        </aside>
    </header>
    
    <div id="scene-container">
            <!--Javascript Scene will be injected here-->
    </div>
    
    
    <!-- Project Content -->
    <main class="content-wrapper">
        <section class="page-content">
            <div class="page-header">
                <div class="title">
                    <img src="/images/icon-folder.png">
                    <h1>[PAGE TITLE]</h1>
                </div>
                <div class="ui-buttons">
                    <a href="/projects/" class="btn" title="Back">
                        <img src="/images/icon-close.png">
                    </a>
                </div>
            </div>
            
            <!-- [TODO]: MAKE THE IMAGE DISPLAY INTO A CAROUSEL/SLIDESHOW -->
            <div class="image-container gutter">
                <img src="/images/display-temp.jpg">
            </div>
            
            <div class="description gutter">
                <p>&emsp;Deserunt enim a cupidatat tractavissent de aute ad eu summis admodum id sed offendit sed cupidatat, ad nescius sed mentitum. Velit cernantur ex mentitum ex ab incididunt qui excepteur. Ne elit sed sunt, dolore deserunt aut nostrud, elit iudicem in adipisicing et cupidatat velit quorum incididunt esse. Eiusmod quis irure ut lorem in consequat eram hic pariatur praetermissum ut magna tractavissent doctrina quid cernantur ab id noster consequat mentitum et officia ubi culpa arbitror, est amet cupidatat domesticarum, eu probant id nescius a iis aliqua duis est cupidatat. Est cupidatat despicationes, officia qui enim commodo, dolore ad proident sed e do praesentibus, quo sunt mandaremus reprehenderit, deserunt anim mandaremus, velit ab occaecat iis illum, quo dolore mentitum offendit. Fugiat ne hic irure quamquam. Fugiat litteris o illum irure.
                </p>
                <p>&emsp;Litteris legam lorem commodo dolore. Quae firmissimum laboris amet expetendis. Quo quid coniunctione. An velit fore hic deserunt. Senserit quem tamen nam sunt in ut multos sint do senserit. Duis litteris arbitrantur iis fabulas nulla excepteur vidisse ab sunt ut aliquip, labore ingeniis ex aliqua culpa. Fore senserit se eruditionem, anim e ullamco de illum qui hic labore appellat ab fore laboris cernantur.
                </p>
                <p>&emsp;Occaecat malis ex laborum graviterque, deserunt elit fore mandaremus dolore ea culpa quo offendit nam duis, e o illum mentitum. Iis duis nescius distinguantur si mentitum a ullamco, quae incurreret offendit, eu ingeniis o mandaremus. Expetendis eram cernantur eiusmod. Do tamen concursionibus an non elit officia aliquip id magna ea ubi dolore vidisse, anim incurreret arbitrantur iis do eram nostrud quamquam e pariatur et dolor nostrud qui se quae iis aute, ne arbitror familiaritatem. Incurreret do dolore consequat. Probant amet proident commodo e vidisse ad irure quo fugiat ubi quo duis possumus ex iis aliqua eram ita ingeniis do ubi aute despicationes, eu qui enim deserunt est probant quis fugiat ut aute, quorum ab nostrud an noster. A nescius arbitrantur quo qui tamen tempor tempor se illum quamquam quo lorem cillum se labore ut a enim nescius.
                </p>
                <p>&emsp;Se veniam senserit, te amet cernantur, si eram anim id possumus nam mandaremus sed quem vidisse, fabulas a minim, te fore culpa dolore expetendis, esse praesentibus vidisse nisi voluptate, ipsum quamquam et appellat. Doctrina iis nisi te proident a multos excepteur. Ne dolor malis veniam vidisse an hic fore consequat proident, legam vidisse est mandaremus si in irure tempor fidelissimae. Arbitror quae noster proident nulla, ita sunt praetermissum, cupidatat noster voluptate, id doctrina si probant ne quorum arbitror si pariatur ne sint deserunt comprehenderit ab quae nescius non laborum iis magna do occaecat an multos. Eu id quem lorem noster, laborum aute quid laboris quae, aute officia iis philosophari, ut quamquam non tempor hic te in distinguantur, ipsum offendit ab illum legam, consequat quorum minim ne varias o fugiat eu laborum ad sunt. Aliquip iis cillum singulis, non aut firmissimum.
                </p>
                <p>&emsp;Sed aut quorum multos quorum iis o nisi eu illum. Veniam mentitum ea nulla elit de excepteur fore anim mentitum summis. A labore cillum et offendit. Offendit quem amet incididunt eram, ubi legam fore nam doctrina iis ubi an sempiternum, a commodo praesentibus. Lorem singulis et graviterque, velit ubi nescius eu malis admodum iis enim legam, in hic summis laborum ubi consequat quem appellat pariatur, ingeniis culpa multos vidisse sunt, sunt consequat fabulas aut possumus eram et cupidatat tractavissent. De cillum vidisse senserit.
                </p>
            </div>
        </section>
    </main>
</body>
</html>
