<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HuskOS v0.1a</title>
    <link rel="stylesheet" href="/css/global.css">
    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three@0.162.0/build/three.module.js",
          "three/addons/": "https://unpkg.com/three@0.162.0/examples/jsm/"
        }
      }
    </script>

    <!-- Link to your Javascript file as a type="module", this will execute the file after the HTML is loaded -->
    <script type="module" src="/js/main.js"></script>
</head>
    

<body>
    <!--Logo and NavBar-->
    <header>
        <nav>
             <li>
                <a class="btn start" href="/index.html" title="Home">
                    <img class="logo" src="/images/logo-site.png">
                    START
                </a>
            </li>
            <li>
                <a class="btn" href="/projects/index.html" title="Projects">
                    <img class="logo" src="/images/icon-folder.png">
                    <p>Pictures</p>
                </a>
            </li>
            <li> 
                <a class="btn" href="#" title="Page Info">
                    <img class="logo" src="/images/icon-info.png">
                    <p>System Info</p>
                </a>
            </li>
        </nav>
        <aside class="gutter">
            <clock id="clock">00:00 AM</clock>
            <script src="/js/clock.js"></script>
        </aside>
    </header>
    
    <div id="scene-container">
            <!--Javascript Scene will be injected here-->
    </div>
    
    
    <!-- Project Content -->
    <main class="content-wrapper">
        <section class="page-content">
            <h1>Weblog Devlog #1: What's the Big Idea</h1>
            
            <!-- [TODO]: MAKE THE IMAGE DISPLAY INTO A CAROUSEL/SLIDESHOW -->
            <div class="image-container">
                <img src="/images/display-temp.jpg">
            </div>
            
            <div class="description">
                <p>&emsp;The current plan with this overall project is to make something that is simulating an operating system user interface. Think somewhere around what the menus look like in Nier Automata. If you are unfamiliar, look it up. I haven't exactly gotten the image carousel working yet to add a mood board or series of mockups. What this means for the overall site layout though is not just figuring out how I want to move everything around but also figuring out all the other fancy javascript and css animation trickery to do that kind of thing as well as where to put certain important information needed for a portfolio website. To this end, I do have a few rules for myself. First of which being that I am now allowed to have the entire page scroll as that would break the illusion of this copying an operating system.
                </p>
                <p>&emsp;Now this presents a challenge. Webpages, and by extension the entire internet, is vertically formatted. Every page you go to uses scrolling in some way. Hell, part of this specific assignment is to make sure that the background responds to your scrolling. (Speaking of which, the sun that's going across the sky responds to your scrolling. Scroll down a bit and you'll see it zoom in.) So what do you do in the event that you don't want to have a webpage that scrolls. What if you instead want one that operates with windows and boxes similar to an operating system? For that, I have two options, though realistically they're the same option where one uses extra steps. Customized formatting and iframes.
                </p>
                <p>&emsp;As it stands, I've drafted up ideas for a couple pages and how they'll be formatted. The home page is planned to be a blank and neutral screen with some kind of screen saver in the middle, there will be a gallery page that displays thumbnails in grids which expand to show a small description on a mouse hover, and a page formatted as you see here with an image at the top and a text block below for the overal diatribe over all the little details. If you notice, the textbox scrolls but the rest of the page doesn't.</p>
                <p>&emsp;The crux of the problem is that a monitor isn't endless. It's actually fairly small when you have to contest with the screen realestate taken up by both the operating system's system bar and the space taken up by the browser itself. That's fighting against space from the top and the bottom (by default). This not even mentioning mobile UI and the pain that will be to figure out. If a desktop or laptop display feels too small, then how tiny will a phone be?</p>
                <p>&emsp;These are the problems that I unfortunately need to think about early because it will influence the way everything is designed from the bottom up. And it should be designed from the bottom up by the by. Better foundation is easier to alter and build upon in the future. Currently I think my best bet will be through taking a design note from mobile UI and use swiping and buttons for everything. A desktop display doesn't scroll, yes, but how many sci-fi user interfaces use modern desktop displays as a baseline? No, everything flies around and grows and shrinks and fades in and out. Those are things that tablets and phones do! That's mobile UI! And though it will be a bit of a pain, a tablet swiping icons around is a lot more in my wheelhouse of "thing I can do with my current webdev skill level" than trying to figure out how to fully translate windows.</p>
                <p>&emsp;That being said, I think a system information page for all the socials and copyright and other stuff would be cute. Just a matter of where to put it.</p>
            </div>
        </section>
    </main>
</body>
</html>
